
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Customer Details</h1>
<a class="btn btn-primary" asp-controller="Customer" asp-action="AddCustomer">Add Customer</a>
<a class="btn btn-success" asp-controller="Customer" asp-action="ViewCustomer">View Customer</a>



