@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This is simple web app to learn about MVC and SQL.</h4>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="AddCustomer">Add Customer</a>
    <a class="btn btn-success" asp-controller="Customer" asp-action="ViewCustomer">View Customer</a>
</div>
